<h1>Secret Board</h1>
<h1>These are ALL the secrets from ALL the users</h1>
<% @secrets.each do |secret| %>
    <p><%= secret.user.name %> says: <%= secret.content %> | <%= secret.likes.count %> likes | <% if current_user.secrets_liked.exists?(secret.id)%><a href="/secrets/<%= secret.id %>/like" data-method="delete">Unlike</a><% else %><a href="/secrets/<%= secret.id %>/like" data-method="post">Like</a><% end %>
    <% if current_user == secret.user %>
    <form action="/secrets/<%= secret.id %>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete Secret">
  </form><% end %></p><hr />
<% end %>
