<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>
<h1>Hello This is the first HTML.</h1>

<h1>Listing Users</h1>
<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Email</td>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
    </tr>
  <% end %>
  </tbody>
</table>


<form action="/products" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="text" name="name">
    <textarea name='description'></textarea>
    <input type='submit' value='Create'>
</from>

<h1>Listing Products</h1>
<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Description</td>
    </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.description %></td>
    </tr>
  <% end %>
  </tbody>
</table>
