<h2>Secrets Town Square</h2>
<h4>Go back to my <a href="/users/<%= current_user.id %>">Own Secret</a> Page</h4>
<hr />
<% @secrets.each do |secret| %>
<p><%= secret.secret %></p>
<p>
    <i><%= secret.likes.count %> likes</i> |
    <% if current_user.secrets_liked.exists?(secret.id) %><a href="/secrets/<%= secret.id %>/like" data-method="delete">Unlike</a>
    <% else %><a href="/secrets/<%= secret.id %>/like" data-method="post">Like</a><% end %>
    <% if current_user == secret.user %> | <a href="/secrets/<%= secret.id %>" data-method="delete">Delete</a><% end %>
    <hr />
</p>
<% end %>
