<h2>Driver's Info</h2>
<p>Name: <%=@driver.first_name%> <%=@driver.last_name%></p>
<p>Email: <%=@driver.email%></p>
<p>DOB: <%=@driver.birthday%></p>
<p>Gender: <%=@driver.gender%></p>
<a href="/riders/<%=current_rider.id%>/index">Go Back to Rider's Dashboard</a>
